<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrt.project.modular.surgery.cust.mapper.OrthopaedicCustKitMapper">
  <resultMap id="BaseResultMap" type="com.yrt.project.modular.surgery.cust.OrthopaedicCustKit">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="owner_dealer_inner_sn" jdbcType="BIGINT" property="owner_dealer_inner_sn" />
    <result column="owner_dealer_name" jdbcType="VARCHAR" property="owner_dealer_name" />
    <result column="platform_kit_inner_sn" jdbcType="BIGINT" property="platform_kit_inner_sn" />
    <result column="type_inner_sn" jdbcType="TINYINT" property="type_inner_sn" />
    <result column="brand_inner_sn" jdbcType="SMALLINT" property="brand_inner_sn" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="is_delete" jdbcType="TINYINT" property="is_delete" />
    <result column="kit_sn" jdbcType="VARCHAR" property="kit_sn" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, owner_dealer_inner_sn, owner_dealer_name, platform_kit_inner_sn, type_inner_sn, brand_inner_sn, 
    status, is_delete, kit_sn, name, description, keywords
  </sql>
  <select id="selectByExample" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKitExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from orthopaedic_cust_kit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orthopaedic_cust_kit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from orthopaedic_cust_kit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKitExample">
    delete from orthopaedic_cust_kit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKit">
    insert into orthopaedic_cust_kit (id, owner_dealer_inner_sn, owner_dealer_name, platform_kit_inner_sn, 
      type_inner_sn, brand_inner_sn, status, 
      is_delete, kit_sn, name, 
      description, keywords)
    values (#{id,jdbcType=BIGINT}, #{owner_dealer_inner_sn,jdbcType=BIGINT}, #{owner_dealer_name,jdbcType=VARCHAR}, #{platform_kit_inner_sn,jdbcType=BIGINT}, 
      #{type_inner_sn,jdbcType=TINYINT}, #{brand_inner_sn,jdbcType=SMALLINT}, #{status,jdbcType=TINYINT}, 
      #{is_delete,jdbcType=TINYINT}, #{kit_sn,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKit">
    insert into orthopaedic_cust_kit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="owner_dealer_inner_sn != null">
        owner_dealer_inner_sn,
      </if>
      <if test="owner_dealer_name != null">
        owner_dealer_name,
      </if>
      <if test="platform_kit_inner_sn != null">
        platform_kit_inner_sn,
      </if>
      <if test="type_inner_sn != null">
        type_inner_sn,
      </if>
      <if test="brand_inner_sn != null">
        brand_inner_sn,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="is_delete != null">
        is_delete,
      </if>
      <if test="kit_sn != null">
        kit_sn,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="owner_dealer_inner_sn != null">
        #{owner_dealer_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="owner_dealer_name != null">
        #{owner_dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="platform_kit_inner_sn != null">
        #{platform_kit_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="type_inner_sn != null">
        #{type_inner_sn,jdbcType=TINYINT},
      </if>
      <if test="brand_inner_sn != null">
        #{brand_inner_sn,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="is_delete != null">
        #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="kit_sn != null">
        #{kit_sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKitExample" resultType="java.lang.Long">
    select count(*) from orthopaedic_cust_kit
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update orthopaedic_cust_kit
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.owner_dealer_inner_sn != null">
        owner_dealer_inner_sn = #{record.owner_dealer_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="record.owner_dealer_name != null">
        owner_dealer_name = #{record.owner_dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="record.platform_kit_inner_sn != null">
        platform_kit_inner_sn = #{record.platform_kit_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="record.type_inner_sn != null">
        type_inner_sn = #{record.type_inner_sn,jdbcType=TINYINT},
      </if>
      <if test="record.brand_inner_sn != null">
        brand_inner_sn = #{record.brand_inner_sn,jdbcType=SMALLINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.is_delete != null">
        is_delete = #{record.is_delete,jdbcType=TINYINT},
      </if>
      <if test="record.kit_sn != null">
        kit_sn = #{record.kit_sn,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update orthopaedic_cust_kit
    set id = #{record.id,jdbcType=BIGINT},
      owner_dealer_inner_sn = #{record.owner_dealer_inner_sn,jdbcType=BIGINT},
      owner_dealer_name = #{record.owner_dealer_name,jdbcType=VARCHAR},
      platform_kit_inner_sn = #{record.platform_kit_inner_sn,jdbcType=BIGINT},
      type_inner_sn = #{record.type_inner_sn,jdbcType=TINYINT},
      brand_inner_sn = #{record.brand_inner_sn,jdbcType=SMALLINT},
      status = #{record.status,jdbcType=TINYINT},
      is_delete = #{record.is_delete,jdbcType=TINYINT},
      kit_sn = #{record.kit_sn,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKit">
    update orthopaedic_cust_kit
    <set>
      <if test="owner_dealer_inner_sn != null">
        owner_dealer_inner_sn = #{owner_dealer_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="owner_dealer_name != null">
        owner_dealer_name = #{owner_dealer_name,jdbcType=VARCHAR},
      </if>
      <if test="platform_kit_inner_sn != null">
        platform_kit_inner_sn = #{platform_kit_inner_sn,jdbcType=BIGINT},
      </if>
      <if test="type_inner_sn != null">
        type_inner_sn = #{type_inner_sn,jdbcType=TINYINT},
      </if>
      <if test="brand_inner_sn != null">
        brand_inner_sn = #{brand_inner_sn,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="is_delete != null">
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="kit_sn != null">
        kit_sn = #{kit_sn,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKit">
    update orthopaedic_cust_kit
    set owner_dealer_inner_sn = #{owner_dealer_inner_sn,jdbcType=BIGINT},
      owner_dealer_name = #{owner_dealer_name,jdbcType=VARCHAR},
      platform_kit_inner_sn = #{platform_kit_inner_sn,jdbcType=BIGINT},
      type_inner_sn = #{type_inner_sn,jdbcType=TINYINT},
      brand_inner_sn = #{brand_inner_sn,jdbcType=SMALLINT},
      status = #{status,jdbcType=TINYINT},
      is_delete = #{is_delete,jdbcType=TINYINT},
      kit_sn = #{kit_sn,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- search (join with type/brand name) -->
  <select id="selectByExampleExt" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKitExample" resultMap="BaseResultMap">
    WITH kit AS (
      select 
        a.id, a.owner_dealer_inner_sn, a.owner_dealer_name, a.platform_kit_inner_sn, a.type_inner_sn, a.brand_inner_sn, 
        a.status, a.is_delete, a.kit_sn, a.name, a.description, a.keywords,
        1 as is_cust,
        t.name as type_name,
        b.name as brand_name
      from orthopaedic_cust_kit a
      left join orthopaedic_operation_top_type t on t.type_inner_sn=a.type_inner_sn 
      left join orthopaedic_ois_brand b on b.brand_inner_sn=a.brand_inner_sn
    )
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />, type_name, brand_name, is_cust
    from kit
    <if test="_parameter != null">
	      <include refid="Example_Where_Clause" />
	</if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
  <!-- dealer list view: dealer 定制override platform -->
  <select id="selectForDealerByExample" parameterType="com.yrt.project.modular.surgery.cust.OrthopaedicCustKitExample" resultMap="BaseResultMap">
    WITH kit AS (
      select 
        null as id,
        null as owner_dealer_inner_sn,
        null as owner_dealer_name,
        p.kit_inner_sn as platform_kit_inner_sn,
        p.type_inner_sn, p.brand_inner_sn, p.status, p.is_delete, p.kit_sn, p.name, p.description, p.keywords,
        0 as is_cust,
        t.name as type_name,
        b.name as brand_name
      from orthopaedic_kit p
      left join orthopaedic_operation_top_type t on t.type_inner_sn=p.type_inner_sn
      left join orthopaedic_ois_brand b on b.brand_inner_sn=p.brand_inner_sn
      where p.is_delete=0  
        UNION ALL
      select
        c.id, c.owner_dealer_inner_sn end, c.owner_dealer_name end, c.platform_kit_inner_sn,
        c.type_inner_sn, c.brand_inner_sn, c.status, c.is_delete, c.kit_sn, c.name, c.description, c.keywords,
        1 as is_cust,
        t.name as type_name,
        b.name as brand_name
      from orthopaedic_cust_kit c
      left join orthopaedic_operation_top_type t on t.type_inner_sn=c.type_inner_sn
      left join orthopaedic_ois_brand b on b.brand_inner_sn=c.brand_inner_sn
      where c.is_delete = 0
        <if test="owner_dealer_inner_sn != null"> AND owner_dealer_inner_sn = #{owner_dealer_inner_sn}</if>
    )
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />, type_name, brand_name, is_cust
    from kit
    <trim prefix="WHERE" prefixOverrides="WHERE |AND |OR ">
	    <if test="_parameter != null">
	      <include refid="Example_Where_Clause" />
	    </if>
	    <if test="q != null">
	      AND (name like #{q} OR keywords like #{q})
	    </if>
    </trim>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  
</mapper>