<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrt.project.modular.common.mapper.HDCommMapper">

	<!-- 获取经销商列表(只包含机构ID，机构名称和入库单类型字段) -->
	<select id="selectAllOrg4DropDownList" parameterType="map" resultType="map">
		SELECT
			dealer_inner_sn as org_id, name, social_credit_code, 'HD' as billsType,
			case when certification_status = 2 then '已认证' else '未认证' end as status
		FROM dealer
		WHERE 1=1
	        AND status=1
	        AND is_delete = 0
	        <if test="name != null">and name like concat('%', #{name}, '%')</if>
	</select>
	
	<select id="selectRelatedOrg4DropDownList" parameterType="map" resultType="map">
		SELECT DISTINCT
        	c.dealer_inner_sn as org_id, d.name,social_credit_code, 'HD' as billsType,
        	case when certification_status = 2 then '已认证' else '未认证' end as status
		FROM hospital_dealer_contract c
		LEFT JOIN dealer d on d.dealer_inner_sn=c.dealer_inner_sn
		WHERE 1=1
	        AND c.hospital_inner_sn = #{id}
	        AND c.status in (3,4,5,7)
	        AND d.status=1
	        AND d.is_delete=0
	        <if test="name != null">and d.name like concat('%', #{name}, '%')</if>
	</select>
	
	<select id="selectContractVendorProductList" parameterType="map" resultType="ResponseProductInfo">
		select 
			concat(a.vendor_inner_sn, '-',  a.product_inner_sn, '-', a.specification_inner_sn, '-1') as id,
			a.*
        from(
			select distinct 
				dv.product_vendor_inner_sn as vendor_inner_sn, dv.product_vendor_name as vendor_name, dv.product_inner_sn, dv.product_name, 
				dv.specification_inner_sn, dv.specification, 1 as product_type, p.newest_register_sn as mdrf_sn, ps.specification_vendor_sn, 
				dv.unit_inner_sn as common_use_unit_inner_sn, dv.unit as common_use_unit, u.unit_inner_sn as min_unit_inner_sn, u.name as min_unit
			from hospital_dealer_contract_product dv
			join product p on p.vendor_inner_sn=dv.product_vendor_inner_sn and p.product_inner_sn=dv.product_inner_sn
			join product_specification ps on ps.vendor_inner_sn=dv.product_vendor_inner_sn and ps.product_inner_sn=dv.product_inner_sn and ps.specification_inner_sn=dv.specification_inner_sn
			join hospital_dealer_contract c using(hospital_inner_sn,dealer_inner_sn,contract_inner_sn)
			join product_unit u on ps.vendor_inner_sn=u.vendor_inner_sn and ps.product_inner_sn=u.product_inner_sn 
			     and ps.specification_inner_sn = u.specification_inner_sn and u.parent_unit_inner_sn is null and u.is_delete = 0
			where dv.hospital_inner_sn = #{org_id} and dv.dealer_inner_sn = #{organization_inner_sn}
		        and c.status in (4,5,7)
				<if test="type_inner_sn != null">and p.type_inner_sn = #{type_inner_sn}</if>
				<if test="code68_sn != null">and p.code68_sn = #{code68_sn}</if>
				<if test="product_name != null and product_name != ''">and (dv.product_name like concat('%', #{product_name}, '%') OR p.pinyin like concat('%', #{product_name}, '%'))</if>
				<if test="vendor_inner_sn != null">and dv.product_vendor_inner_sn = #{vendor_inner_sn}</if>
				<if test="specification_vendor_sn != null and specification_vendor_sn != ''">and ps.specification_vendor_sn like concat('%', #{specification_vendor_sn}, '%')</if>
	            <if test="specification != null and specification != ''">and dv.specification like concat('%', #{specification}, '%')</if>
	            <if test="product_inner_sn != null">AND dv.product_inner_sn = #{product_inner_sn}</if>
				<if test="specification_inner_sn != null">AND dv.specification_inner_sn = #{specification_inner_sn}</if>
	    ) a
	</select>
	
	<select id="selectContractDealerProductList" parameterType="map" resultType="ResponseProductInfo">
        select 
        	concat(a.dealer_inner_sn, '-',  a.product_inner_sn, '-', a.specification_inner_sn, '-0') as id,
        	a.*
		from (
	        select distinct 
		        hp.dealer_inner_sn as dealer_inner_sn, hp.product_dealer_name as dealer_name, hp.product_inner_sn, hp.product_name, hp.specification_inner_sn, hp.specification, 
		        hp.unit_inner_sn as common_use_unit_inner_sn, hp.unit as common_use_unit, 0 as product_type, u.unit_inner_sn as min_unit_inner_sn, u.name as min_unit
			from hospital_dealer_contract_dealer_product hp
			join dealer_product p using(dealer_inner_sn,product_inner_sn)
			join dealer_product_specification ps using(dealer_inner_sn,product_inner_sn,specification_inner_sn)
			join dealer_product_unit u on ps.dealer_inner_sn=u.dealer_inner_sn and ps.product_inner_sn=u.product_inner_sn 
				and ps.specification_inner_sn = u.specification_inner_sn and u.parent_unit_inner_sn is null and u.is_delete = 0
			where  1=1
			and hp.hospital_inner_sn = #{ids} and hp.dealer_inner_sn = #{organization_inner_sn}
			and (hp.dealer_inner_sn,hp.hospital_inner_sn,hp.contract_inner_sn) in (select dealer_inner_sn,hospital_inner_sn,contract_inner_sn from hospital_dealer_contract where hospital_inner_sn = #{ids} and dealer_inner_sn = #{organization_inner_sn} and status in (4,5,7))
			<if test="name != null and name != ''">and (hp.product_name like concat('%', #{name}, '%') OR p.pinyin like concat('%', #{name}, '%'))</if>
			<if test="code68_sn != null">and p.code68_sn = #{code68_sn}</if>
		) a 
	</select>
</mapper>