<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrt.project.modular.finance.mapper.PaymentOrderMapper">

	<select id="selectPaymentOrderList" parameterType="map" resultType="PaymentOrder">
		SELECT
		    id, org_id, system_type, bills_type, organization_inner_sn, organization_name, payment_sn, payment_date,
		    payment_price, description, cancel_reason, payment_method, payment_status, is_cancel, created_by,
		    created_time, payment_by, payment_time, entry_by, entry_time, cancel_by, cancel_time
		FROM payment_order
		WHERE 1 = 1
			and org_id = #{org_id} AND system_type = #{system_type}
			<if test="organization_inner_sn != null">and organization_inner_sn = #{organization_inner_sn}</if>
			<if test="bills_type != null">and bills_type = #{bills_type}</if>
			<if test="payment_sn != null and payment_sn != ''">and payment_sn like concat('%', #{payment_sn}, '%')</if>
			<if test="payment_status != null">and payment_status in (${payment_status})</if>
			<if test="is_cancel != null">and is_cancel = #{is_cancel}</if>
			<if test="begin_date != null">AND date_format(created_time,'%y%m%d') &gt;= date_format(#{begin_date},'%y%m%d')</if>
			<if test="end_date != null">AND date_format(created_time,'%y%m%d') &lt;= date_format(#{end_date},'%y%m%d')</if>
	</select>
	
	<select id="selectPaymentOrderDetailList" parameterType="map" resultType="PaymentOrderDetail">
		SELECT
		    id, payment_order_id, sn, invoice_no, invoice_price, written_off_price,
			voucher_type_c, voucher_inner_sn_c
		FROM payment_order_detail
		where 1=1
			and payment_order_id = #{payment_order_id}
	</select>
	
	<select id="sumUsablePaymentOrderDetail" parameterType="map" resultType="SumOrderResult">
		SELECT
		    SUM(written_off_price) as written_off_price, voucher_type_c, voucher_inner_sn_c
		FROM payment_order_detail d
		INNER JOIN payment_order m on m.id = d.payment_order_id
		where 1=1 and is_cancel = 0 and voucher_type_c != 0 and m.org_id = #{org_id}
			<if test="voucher_type_c != null">and voucher_type_c = #{voucher_type_c}</if>
			<if test="voucher_inner_sn_c != null">and voucher_inner_sn_c = #{voucher_inner_sn_c}</if>
		GROUP BY voucher_type_c, voucher_inner_sn_c
	</select>
	
	<select id="sumUsedPaymentOrderDetail" parameterType="map" resultType="SumOrderResult">
		SELECT
		    SUM(written_off_price) as written_off_price, voucher_type_c, voucher_inner_sn_c
		FROM payment_order_detail d
		INNER JOIN payment_order m on m.id = d.payment_order_id
		where 1=1 and is_cancel = 0 and voucher_type_c != 0 and m.org_id = #{org_id}
			and payment_status in (2,3)
			<if test="voucher_type_c != null">and voucher_type_c = #{voucher_type_c}</if>
			<if test="voucher_inner_sn_c != null">and voucher_inner_sn_c = #{voucher_inner_sn_c}</if>
		GROUP BY voucher_type_c, voucher_inner_sn_c
	</select>
	
	<select id="selectPaymentOrderInfo" parameterType="map" resultType="PaymentOrder">
		SELECT
		    id, org_id, system_type, bills_type, organization_inner_sn, organization_name, payment_sn, payment_date,
		    payment_price, description, cancel_reason, payment_method, payment_status, is_cancel, created_by,
		    created_time, payment_by, payment_time, entry_by, entry_time, cancel_by, cancel_time
		FROM payment_order
		WHERE 1 = 1 and id = #{id}
	</select>
	
	<insert id="insertPaymentOrder" parameterType="PaymentOrder">
		INSERT INTO payment_order (
        	id, org_id, system_type, bills_type, organization_inner_sn, organization_name, payment_sn, payment_date,
        	payment_price, description, cancel_reason, payment_method, payment_status, is_cancel, created_by,
        	created_time, payment_by, payment_time, entry_by, entry_time, cancel_by, cancel_time
	    ) VALUES (
	        #{id}, #{org_id}, #{system_type}, #{bills_type}, #{organization_inner_sn}, #{organization_name}, #{payment_sn}, #{payment_date},
	        #{payment_price}, #{description}, #{cancel_reason}, #{payment_method}, #{payment_status}, 0, #{created_by},
	        now(), #{payment_by}, #{payment_time}, #{entry_by}, #{entry_time}, #{cancel_by}, #{cancel_time}
	    )
	</insert>
	
	<update id="updatePaymentOrder" parameterType="map">
		update payment_order
		<set>
			<if test="bills_type != null">bills_type = #{bills_type},</if>
			<if test="organization_inner_sn != null">organization_inner_sn = #{organization_inner_sn},</if>
			<if test="organization_name != null and organization_name != ''">organization_name = #{organization_name},</if>
			<if test="payment_sn != null and payment_sn != ''">payment_sn = #{payment_sn},</if>
			<if test="payment_date != null">payment_date = #{payment_date},</if>
			<if test="payment_price != null">payment_price = #{payment_price},</if>
			<if test="description != null and description != ''">description = #{description},</if>
			<if test="cancel_reason != null and cancel_reason != ''">cancel_reason = #{cancel_reason},</if>
			<if test="payment_method != null">payment_method = #{payment_method},</if>
			<if test="payment_status != null">payment_status = #{payment_status},</if>
			<if test="is_cancel != null">is_cancel = #{is_cancel},</if>
			<if test="payment_by != null and payment_by != ''">payment_by = #{payment_by},</if>
			<if test="payment_time != null">payment_time = #{payment_time},</if>
			<if test="entry_by != null and entry_by != ''">entry_by = #{entry_by},</if>
			<if test="entry_time != null">entry_time = #{entry_time},</if>
			<if test="cancel_by != null and cancel_by != ''">cancel_by = #{cancel_by},</if>
			<if test="cancel_time != null">cancel_time = #{cancel_time},</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="deletePaymentOrder" parameterType="map">
		delete from payment_order 
		where id = #{id}
	</delete>
	
	<insert id="insertPaymentOrderDetail" parameterType="map">
		INSERT INTO payment_order_detail (
	        id, payment_order_id, sn, invoice_no, invoice_price, written_off_price,  
	        voucher_type_c, voucher_inner_sn_c
	    ) VALUES (
	        #{id}, #{payment_order_id}, #{sn}, #{invoice_no}, #{invoice_price}, #{written_off_price},
	        #{voucher_type_c}, #{voucher_inner_sn_c}
	    )
	</insert>
	
	<delete id="deletePaymentOrderDetail" parameterType="map">
		delete from payment_order_detail 
		where payment_order_id = #{payment_order_id}
	</delete>
</mapper> 