<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yrt.project.modular.warehouse.mapper.DealerOdoTypeMapper">

	<!-- 经销商入库单类别 -->
	<resultMap type="OdoType" id="OdoTypeResult">
		<id      property="org_id" column="dealer_inner_sn"/><!-- 经销商内部编号 -->
		<result  property="type_inner_sn" column="type_inner_sn"/><!-- 类别内部编号 -->
		<result  property="name" column="name"/><!-- 名称 -->
		<result  property="status" column="status"/><!-- 状态 -->
		<result  property="is_preset" column="is_preset"/><!-- 是否预置 -->
	</resultMap>
	
	<sql id="selectOdoType">
		select dealer_inner_sn, type_inner_sn, name, status, is_preset
		from dealer_odo_type
	</sql>
	
	<select id="selectOdoTypeList" parameterType="map" resultMap="OdoTypeResult">
		<include refid="selectOdoType"/>
		where is_delete = 0
			and dealer_inner_sn = #{org_id}
			<if test="status != null">and status = #{status}</if>
	</select>
	
	<select id="selectOdoTypeInfo" parameterType="map" resultMap="OdoTypeResult">
		<include refid="selectOdoType"/>
		where is_delete = 0
			and dealer_inner_sn = #{org_id}
			and type_inner_sn = #{type_inner_sn}
	</select>
	
	<select id="insertOdoType" parameterType="map" statementType="CALLABLE"  useCache="false" flushCache="true" resultType="map">
		call d_add_dealer_odo_type(
            #{org_id ,mode=IN},
            #{status_i ,mode=IN},
            #{is_delete_i ,mode=IN},
            #{name_i ,mode=IN},
            #{type_inner_sn_o ,mode=OUT,jdbcType=NUMERIC},
            #{result_o ,mode=OUT,jdbcType=NUMERIC},
			#{error_code_o ,mode=OUT,jdbcType=NUMERIC},
			#{sql_state_o ,mode=OUT,jdbcType=VARCHAR},
			#{message_string_o ,mode=OUT,jdbcType=VARCHAR}
         )
	</select>
	
	<update id="updateOdoType" parameterType="map">
		update dealer_odo_type
		<set>
			<if test="name != null and name != ''">name = #{name},</if>
			<if test="status != null">status = #{status},</if>
			<if test="is_preset != null">is_preset = #{is_preset},</if>
		</set>
		where is_delete = 0
			and dealer_inner_sn = #{org_id} and type_inner_sn = #{type_inner_sn} 
	</update>
	
	<update id="deleteOdoType" parameterType="map">
		update dealer_odo_type 
			set is_delete = 1
		where is_preset = 0 and dealer_inner_sn = #{org_id} and type_inner_sn = #{type_inner_sn} 
	</update>
	
	<select id="checkUseList" parameterType="map" resultType="map">
		select dealer_inner_sn, odo_inner_sn, organization_inner_sn
		from dealer_dealer_odo
		where dealer_inner_sn = #{org_id} and type_inner_sn = #{type_inner_sn}
		UNION ALL
		select dealer_inner_sn, odo_inner_sn, organization_inner_sn
		from dealer_hospital_odo
		where dealer_inner_sn = #{org_id} and type_inner_sn = #{type_inner_sn}
		UNION ALL
		select dealer_inner_sn, odo_inner_sn, organization_inner_sn
		from dealer_vendor_odo
		where dealer_inner_sn = #{org_id} and type_inner_sn = #{type_inner_sn}
	</select>
</mapper>